/* Fuentes ----------- */

@font-face {
      font-family: 'TradeGothic-BoldCondTwenty';
      src: url('../font/TradeGothic-BoldCondTwenty.eot?#iefix') format('embedded-opentype'),
      url('../font/TradeGothic-BoldCondTwenty.woff') format('woff'),
      url('../font/TradeGothic-BoldCondTwenty.ttf')  format('truetype'),
      url('../font/TradeGothic-BoldCondTwenty.svg#TradeGothic-BoldCondTwenty') format('svg');
      font-weight: normal;
      font-style: normal;
}

@font-face {
      font-family: 'TradeGothicLT-BoldCondTwenty';
      src: url("../font/tradegothiclt-boldcondtwenty.eot?#iefix") format("embedded-opentype"),
      url("../font/tradegothiclt-boldcondtwenty.woff") format("woff"),
      url("../font/tradegothiclt-boldcondtwenty.ttf") format("truetype"),
      url("../font/tradegothiclt-boldcondtwenty.svg#TradeGothicLT-BoldCondTwenty") format("svg");
      font-weight: normal;
      font-style: normal;
}

body:not(.toolbar) {
  padding-top: 0px !important;
}

.container{
  margin-top: 80px;
}

h1, h2, label, span, p, .btn, input, select, option {
  font-family: TradeGothicLT-BoldCondTwenty, HelveticaNeue-CondensedBold, "Franklin Gothic Medium", sans-serif;
}

h1 {
  font-size: 30px;
}

input, select, option, label {
  font-size: 20px;
}

p, label {
  font-size: 18px;
  /*margin: 0px;*/
}

a:hover {
  text-decoration: underline;
}

.form-control {
  font-size: 18px;
}

.form-type-radio {
  float: left;
  padding-right: 20px;
  margin-top: 0px;
}

.radio + .radio{
  margin-top: 0px;
}

.capa_otra_cuota {
  /*float: left;*/
  margin-top: 45px;
  margin-left: -5px;
}

.otra_cuota {
  width: 100px;
  margin-top: -20px;
}

.capa-fechas div div,
.capa-inicio-pagos div div {
  width: 100px;
  overflow: hidden;
  float: left;
  height: 50px;
  margin-right: 5px;
}

.capa-fechas div select,
.capa-inicio-pagos div select {
  width: 130%;
  background-position: 67px center;
  border: 0;
  height: 50px;
  position: relative;
  float: left;
  margin-right: 10px;
  list-style: none inside none;
  padding-left: 10px;
  font-weight: normal;
}

.capa_idioma,
.content_origen,
.capa_flags .form-type-radios {
  clear: both;
}

.capa_flags .help-block {
  visibility: hidden;
  height: 0px;
}

.form-managed-file input {
  width: 300px;
  float:left;
  height: 45px;
}

.form-managed-file button {
  float: left;
  margin-left: 10px;
}

.help-block {
  visibility: hidden;
}

.btn {
  background-color: #ff0;
  font-size: 22px;
  color: #000;
  border-color: #adadad;
}

.btn:hover {
  background-color: #ffd700;
  color: #000;
  border-color: #adadad;
}

.navbar {
  background-color: #fff;
  text-align: center;
  margin-top: 0px;
  border-color: #fff;
}

.navbar .container {
  max-width: 750px;
}

.navbar .logo {
  padding-right: 5px;
  padding-left: 0px;
}

.footer {
  padding-top: 0px;
  margin-top: 10px;
  border-top: 0px;
}

.footer table {
  margin-top: 0px;
}

.panel-default {
  border-color: #fff;
}

.panel-body {
  padding: 0px;
}

.input-group-btn {
  visibility: hidden;
}

#menu-dd {
  text-align: center;
}
